.bg-icon,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 105.91rem;
  height: 67.69rem;
}
.rectangle {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 18.75rem;
  height: 2.81rem;
}
.user-icon,
.username1 {
  position: absolute;
  top: 0.81rem;
}
.username1 {
  left: 4.06rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
}
.user-icon {
  left: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.username {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
  font-size: var(--font-size-sm);
}
.lock-icon {
  position: absolute;
  height: 13.31%;
  width: 7.5%;
  top: 86.69%;
  right: 85.25%;
  bottom: 0;
  left: 7.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.password,
.rectangle2 {
  position: absolute;
  left: 0;
  width: 18.75rem;
}
.password {
  top: 4.06rem;
  height: 13.36rem;
  font-size: var(--font-size-sm);
}
.rectangle2 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  height: 2.81rem;
}
.login {
  position: absolute;
  top: 0.81rem;
  left: 8.56rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
.login-btn {
  position: absolute;
  top: 9.56rem;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
  color: var(--color-royalblue);
}
.create-account {
  position: absolute;
  top: 0.81rem;
  left: 5.44rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
.login-btn1 {
  position: absolute;
  top: 18.44rem;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
  color: var(--color-royalblue);
}
.dont-have-an,
.forgot-password {
  position: absolute;
  top: 13.06rem;
  left: 11.31rem;
  font-weight: 500;
}
.dont-have-an {
  top: 16.56rem;
  left: 4.06rem;
}
.form {
  position: absolute;
  top: 20.63rem;
  left: 33.94rem;
  width: 20.44rem;
  height: 21.25rem;
}
.ecommerceso-wallet-coin-icon {
  position: relative;
  width: 1.69rem;
  height: 1.69rem;
  overflow: hidden;
  flex-shrink: 0;
}
.fin {
  color: var(--color-blueviolet);
}
.finapp {
  position: relative;
  font-weight: 900;
}
.logo {
  position: absolute;
  top: 12.31rem;
  left: 39.06rem;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
.dashboard-login {
  position: relative;
  background-color: var(--color-royalblue);
  width: 100%;
  height: 64rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-mulish: Mulish;
    --font-montserrat: Montserrat;
    --font-muli: Muli;
  
    /* font sizes */
    --font-size-2xl: 1.31rem;
    --font-size-base: 1rem;
    --font-size-sm: 0.88rem;
  
    /* Colors */
    --color-royalblue: #2148c0;
    --color-white: #fff;
    --color-blueviolet: #4c49ed;
    --color-black: #000;
  
    /* Gaps */
    --gap-6xs: 0.44rem;
  
    /* Paddings */
    --padding-6xl: 1.56rem;
  
    /* border radiuses */
    --br-4xs: 9px;
    --br-9xs: 4px;
  }
  