.bg-icon,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 102.59rem;
  height: 67.69rem;
}
.rectangle {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 18.75rem;
  height: 2.81rem;
}
.email-id,
.user-icon {
  position: absolute;
  top: 0.81rem;
}
.email-id {
  left: 3.81rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
}
.user-icon {
  left: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.username {
  position: absolute;
  top: 4.06rem;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
}
.username2 {
  position: absolute;
  top: 0.81rem;
  left: 3.19rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
}
.username1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
}
.lock-icon {
  position: absolute;
  height: 44.44%;
  width: 6.67%;
  top: 28.89%;
  right: 89.33%;
  bottom: 26.67%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.password {
  position: absolute;
  top: 8.13rem;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
}
.re-enter-your-password {
  position: absolute;
  top: 0.81rem;
  left: 2.69rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
}
.password2,
.rectangle4 {
  position: absolute;
  left: 0;
  width: 18.75rem;
  height: 2.81rem;
}
.password2 {
  top: 11.88rem;
}
.rectangle4 {
  top: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.sign-up {
  position: absolute;
  top: 0.81rem;
  left: 7.19rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}
.form,
.login-btn {
  position: absolute;
  width: 18.75rem;
}
.login-btn {
  top: 16.25rem;
  left: 0;
  height: 2.81rem;
  font-size: 1rem;
  color: var(--color-royalblue);
}
.form {
  top: 16.56rem;
  left: 30.63rem;
  height: 19.06rem;
}
.ecommerceso-wallet-coin-icon {
  position: relative;
  width: 1.69rem;
  height: 1.69rem;
  overflow: hidden;
  flex-shrink: 0;
}
.fin {
  color: var(--color-blueviolet);
}
.finapp {
  position: relative;
  font-weight: 900;
}
.logo {
  position: absolute;
  top: 9.25rem;
  left: 34.88rem;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-mulish);
}
.dashboard-login {
  position: relative;
  background-color: var(--color-royalblue);
  width: 100%;
  height: 45rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-mulish: Mulish;
    --font-montserrat: Montserrat;
    --font-muli: Muli;
  
    /* font sizes */
    --font-size-2xl: 1.31rem;
    --font-size-sm: 0.88rem;
  
    /* Colors */
    --color-royalblue: #2148c0;
    --color-white: #fff;
    --color-blueviolet: #4c49ed;
    --color-black: #000;
  
    /* Gaps */
    --gap-6xs: 0.44rem;
  
    /* Paddings */
    --padding-6xl: 1.56rem;
  
    /* border radiuses */
    --br-4xs: 9px;
    --br-9xs: 4px;
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-mulish: Mulish;
    --font-montserrat: Montserrat;
    --font-muli: Muli;
  
    /* font sizes */
    --font-size-2xl: 1.31rem;
    --font-size-sm: 0.88rem;
  
    /* Colors */
    --color-royalblue: #2148c0;
    --color-white: #fff;
    --color-blueviolet: #4c49ed;
    --color-black: #000;
  
    /* Gaps */
    --gap-6xs: 0.44rem;
  
    /* Paddings */
    --padding-6xl: 1.56rem;
  
    /* border radiuses */
    --br-4xs: 9px;
    --br-9xs: 4px;
  }
    