.ecommerceso-wallet-coin-icon {
    position: relative;
    width: 27px;
    height: 27px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .fin {
    color: var(--main-primary);
  }
  .finapp {
    position: relative;
    font-weight: 900;
  }
  .logo {
    border-radius: var(--br-4xs);
    background-color: var(--main-white);
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .iconsdashboard {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .upload-document {
    position: relative;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 153px;
    height: 23px;
    flex-shrink: 0;
  }
  .dashboard,
  .iconsdashboard-parent {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .iconsdashboard-parent {
    height: 53.6px;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-9xl);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-base);
    cursor: pointer;
  }
  .dashboard {
    flex: 1;
    position: relative;
    font-weight: 800;
  }
  .iconsdashboard-group {
    border-radius: var(--br-7xs);
    height: 53.6px;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-9xl);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-base);
    cursor: pointer;
  }
  .frame-parent,
  .iconschart-parent,
  .iconsdashboard-group {
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  .iconschart-parent {
    height: 53.6px;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-9xl);
    box-sizing: border-box;
    justify-content: center;
    gap: var(--gap-base);
  }
  .frame-parent {
    height: 376px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xl);
  }
  .frame-child,
  .iconssettings-parent {
    align-self: stretch;
    box-sizing: border-box;
  }
  .frame-child {
    position: relative;
    border-top: 1px solid #e0dff0;
    height: 1px;
  }
  .iconssettings-parent {
    background-color: #e4e3ff;
    height: 53.6px;
    display: flex;
    flex-direction: row;
    padding: 14px var(--padding-9xl);
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .frame-wrapper,
  .line-parent,
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-wrapper {
    flex: 1;
    width: 202px;
    align-items: center;
  }
  .line-parent,
  .navigation {
    align-self: stretch;
    align-items: flex-start;
  }
  .line-parent {
    flex: 1;
    gap: var(--gap-3xl);
    color: var(--main-primary);
  }
  .navigation {
    height: 587px;
    gap: 46px;
  }
  .log-out1 {
    position: relative;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 106px;
    height: 18px;
    flex-shrink: 0;
  }
  .log-out {
    flex: 1;
    width: 202px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-9xl);
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--main-light-grey);
  }
  .sidebar,
  .sidebar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .sidebar1 {
    align-self: stretch;
    flex: 1;
    padding: 30px 0;
    gap: 120px;
    font-size: var(--navigation-normal-size);
    color: var(--main-grey);
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-7xl) var(--br-7xl) 0;
    background-color: var(--main-white);
    width: 256px;
    height: 1024px;
    padding: 42px var(--padding-6xl) 47px;
    box-sizing: border-box;
    gap: 43px;
  }
  .old-password {
    position: absolute;
    top: 15.5px;
    left: 18px;
  }
  .change-password,
  .input {
    position: absolute;
    left: 0.84px;
  }
  .input {
    width: calc(100% - 1.5px);
    top: 32px;
    right: 0.66px;
    border-radius: var(--br-5xs);
    background-color: var(--main-white);
    border: 2px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 48px;
  }
  .change-password {
    top: 0;
    font-size: var(--font-size-base);
    line-height: 22px;
    font-weight: 500;
  }
  .username {
    position: absolute;
    top: 12px;
    left: -0.84px;
    width: 656px;
    height: 108px;
  }
  .input1 {
    width: 100%;
    top: 107px;
    right: -0.5px;
    left: 0.5px;
    border-radius: var(--br-5xs);
    background-color: var(--main-white);
    border: 2px solid var(--color-gainsboro-100);
    box-sizing: border-box;
    height: 48px;
  }
  .button,
  .input1,
  .inputs {
    position: absolute;
  }
  .button {
    top: 175px;
    right: 526.72px;
    border-radius: var(--br-5xs);
    background-color: var(--main-primary);
    width: 127.28px;
    height: 40px;
    text-align: center;
    color: var(--main-white);
  }
  .inputs {
    top: 0;
    left: 0;
    width: 654.5px;
    height: 244px;
  }
  .forgot-password {
    position: absolute;
    top: 0;
    left: 0.84px;
    line-height: 22px;
    font-weight: 500;
  }
  .click-here {
    top: 0;
    left: 0;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127.48px;
    height: 40px;
  }
  .button1,
  .click-here,
  .email {
    position: absolute;
  }
  .button1 {
    top: 40px;
    right: 527.72px;
    border-radius: var(--br-5xs);
    background-color: var(--main-primary);
    width: 127.28px;
    height: 40px;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--main-white);
  }
  .email {
    top: 265px;
    left: -0.5px;
    width: 656px;
    height: 80px;
    font-size: var(--font-size-base);
  }
  .delete-account,
  .form {
    position: absolute;
    top: 119px;
    left: 223.5px;
    width: 654.5px;
    height: 384px;
    color: var(--color-gray);
  }
  .delete-account {
    top: 112px;
    left: 0;
    color: var(--main-primary);
    display: flex;
    align-items: center;
    width: 107.61px;
    height: 18px;
  }
  .divider {
    position: absolute;
    top: 88px;
    left: 0;
    border-top: 1px solid var(--color-gainsboro-200);
    box-sizing: border-box;
    width: 199.53px;
    height: 1px;
  }
  .email-notifications {
    position: absolute;
    top: 53px;
    left: 0;
  }
  .edit-profile {
    top: 7px;
  }
  .edit-profile,
  .list,
  .password {
    position: absolute;
    left: 0;
  }
  .password {
    top: 30px;
    color: var(--color-gray);
  }
  .list {
    top: 119px;
    border-radius: var(--br-7xs);
    width: 199.53px;
    height: 321px;
    font-size: var(--font-size-mini);
  }
  .update-your-username {
    position: absolute;
    top: 34px;
    left: 72.34px;
    line-height: 18.2px;
  }
  .peter-griffin {
    font-weight: 500;
  }
  .span {
    color: var(--color-gainsboro-200);
  }
  .peter-griffin-container {
    position: absolute;
    top: 0;
    left: 72.34px;
    font-size: 20px;
    line-height: 29px;
    color: var(--color-gray);
  }
  .avatar-icon {
    position: absolute;
    top: 1px;
    left: 0.34px;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    object-fit: cover;
  }
  .account-information {
    position: absolute;
    top: 31px;
    left: 0;
    width: 879px;
    height: 62.59px;
  }
  .container {
    position: relative;
    width: 878px;
    height: 555px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .body {
    position: absolute;
    top: 24px;
    left: 287px;
    background-color: var(--main-white);
    width: 1129px;
    height: 974px;
    display: flex;
    flex-direction: row;
    padding: 32px 29px 40px var(--padding-5xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray);
    font-family: var(--font-inter);
  }
  .sidebar-parent {
    position: relative;
    width: 1416px;
    height: 1024px;
  }
  .e-wallet-dashboard {
    background-color: #f4f3fa;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-5xl) 0 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .e-wallet-dashboard,
  .e-wallet-dashboard-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 1024px;
  }
  .group-parent {
    position: relative;
    width: 100%;
    height: 1024px;
    text-align: left;
    font-size: var(--font-size-2xl);
    color: var(--color-black);
    font-family: var(--navigation-normal);
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
    --navigation-normal: Mulish;
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-mini: 15px;
    --font-size-base: 16px;
    --navigation-normal-size: 17px;
    --font-size-2xl: 21px;
  
    /* Colors */
    --main-white: #fff;
    --color-gray: #0d0c22;
    --color-gainsboro-100: #e7e7e9;
    --color-gainsboro-200: #dbdbde;
    --color-dimgray: #6e6d7a;
    --main-primary: #4c49ed;
    --main-light-grey: #cccbd8;
    --main-grey: #a1a0bd;
    --color-black: #000;
  
    /* Gaps */
    --gap-3xl: 22px;
    --gap-base: 16px;
    --gap-6xs: 7px;
  
    /* Paddings */
    --padding-5xl: 24px;
    --padding-6xl: 25px;
    --padding-mini: 15px;
    --padding-9xl: 28px;
  
    /* border radiuses */
    --br-7xs: 6px;
    --br-5xs: 8px;
    --br-7xl: 26px;
    --br-4xs: 9px;
  }
  